<?xml version='1.0'?>
<sdf version='1.6' xmlns:xacro="http://www.ros.org/wiki/xacro">
	<model name='nav_omni4_model'>

		<pose>0 0 0.03 0 0 0</pose>

		<include>
			<name>damped_omni4_model</name>
			<uri>model://damped_omni4</uri>
		</include>

		<link name="lidar_link">
			<pose>0 0 0.06 0 0 0</pose>
			<inertial>
				<mass>0.001</mass>
				<inertia>
					<ixx>0.00001</ixx>
					<ixy>0</ixy>
					<ixz>0</ixz>
					<iyy>0.00001</iyy>
					<iyz>0</iyz>
					<izz>0.00001</izz>
				</inertia>
			</inertial>
			<sensor name="lidar" type="ray">
				<always_on>true</always_on>
				<visualize>true</visualize>
				<update_rate>5</update_rate>
				<ray>
					<scan>
						<horizontal>
							<samples>360</samples>
							<resolution>1.000000</resolution>
							<min_angle>0.000000</min_angle>
							<max_angle>6.280000</max_angle>
						</horizontal>
					</scan>
					<range>
						<min>0.120000</min>
						<max>3.5</max>
						<resolution>0.015000</resolution>
					</range>
					<noise>
						<type>gaussian</type>
						<mean>0.0</mean>
						<stddev>0.01</stddev>
					</noise>
				</ray>
				<plugin name="scan" filename="libgazebo_ros_ray_sensor.so">
					<ros>
						<remapping>~/out:=scan</remapping>
					</ros>
					<output_type>sensor_msgs/LaserScan</output_type>
					<frame_name>lidar_link</frame_name>
				</plugin>
			</sensor>
		</link>

		<link name="camera_link">
			<pose>0.07 0 0.05 0 0 0</pose>
			<inertial>
				<mass>0.001</mass>
				<inertia>
					<ixx>0.00001</ixx>
					<ixy>0</ixy>
					<ixz>0</ixz>
					<iyy>0.00001</iyy>
					<iyz>0</iyz>
					<izz>0.00001</izz>
				</inertia>
			</inertial>
			<visual name="visual">
				<geometry>
					<box>
						<size>0.01 0.015 0.01</size>
					</box>
				</geometry>
			</visual>
			<!--
			<sensor name="camera1" type="camera">
				<update_rate>20.0</update_rate>
				<camera name="head">
					<horizontal_fov>1.3962634</horizontal_fov>
					<image>
						<width>800</width>
						<height>800</height>
						<format>R8G8B8</format>
					</image>
					<clip>
						<near>0.02</near>
						<far>300</far>
					</clip>
					<noise>
						<type>gaussian</type>
						<mean>0.0</mean>
						<stddev>0.007</stddev>
					</noise>
				</camera>
				<plugin name="camera_controller" filename="libgazebo_ros_camera.so">
					<alwaysOn>true</alwaysOn>
					<updateRate>0.0</updateRate>
					<cameraName>nav_omni4/camera1</cameraName>
					<imageTopicName>image_raw</imageTopicName>
					<cameraInfoTopicName>camera_info</cameraInfoTopicName>
					<frameName>camera_link</frameName>
					<hackBaseline>0.07</hackBaseline>
					<distortionK1>0.0</distortionK1>
					<distortionK2>0.0</distortionK2>
					<distortionK3>0.0</distortionK3>
					<distortionT1>0.0</distortionT1>
					<distortionT2>0.0</distortionT2>
				</plugin>
			</sensor>
			-->
			<sensor name="depth_camera" type="depth">
				<visualize>true</visualize>
				<update_rate>30.0</update_rate>
				<camera name="camera">
					<horizontal_fov>1.047198</horizontal_fov>
					<image>
						<width>640</width>
						<height>480</height>
						<format>R8G8B8</format>
					</image>
					<clip>
						<near>0.05</near>
						<far>3</far>
					</clip>
				</camera>
				<plugin name="depth_camera_controller" filename="libgazebo_ros_camera.so">
					<baseline>0.2</baseline>
					<alwaysOn>true</alwaysOn>
					<updateRate>0.0</updateRate>
					<frame_name>camera_depth_frame</frame_name>
					<pointCloudCutoff>0.5</pointCloudCutoff>
					<pointCloudCutoffMax>3.0</pointCloudCutoffMax>
					<distortionK1>0</distortionK1>
					<distortionK2>0</distortionK2>
					<distortionK3>0</distortionK3>
					<distortionT1>0</distortionT1>
					<distortionT2>0</distortionT2>
					<CxPrime>0</CxPrime>
					<Cx>0</Cx>
					<Cy>0</Cy>
					<focalLength>0</focalLength>
					<hackBaseline>0</hackBaseline>
				</plugin>
			</sensor>
		</link>

		<joint name="lidar_joint" type="fixed">
			<parent>damped_omni4_model::body_link</parent>
			<child>lidar_link</child>
		</joint>

		<joint name="camera_joint" type="fixed">
			<parent>damped_omni4_model::body_link</parent>
			<child>camera_link</child>
		</joint>

		<plugin name="wheel_odometry" filename="libgazebo_ros_wheel_odometry.so">
			<publish_odom_msg>true</publish_odom_msg>
			<publish_tf>true</publish_tf>
		</plugin>

	</model>
</sdf>
